    <div class="product__accordion accordion quick-add-hidden" {{ block.shopify_attributes }}>
      <details id="Details-{{ block.id }}-{{ section.id }}">
        <summary>
          <div class="summary__title">
            {% render 'icon-accordion', icon: 'heart' %}
            <h2 class="h4 accordion__title inline-richtext">
              Care Instructions
            </h2>
          </div>
          {% render 'icon-caret' %}
        </summary>
        <div class="accordion__content rte" id="ProductAccordion-{{ block.id }}-{{ section.id }}">
          {{ product.metafields.care_instructions.value | newline_to_br }}
        </div>
      </details>
    </div>